---
# Включаем все проверки по умолчанию
Checks: '*'

# Настройки для конкретных проверок
CheckOptions:
  # Разрешаем Windows API определения приходить через MemoryManager.hpp
  - key: misc-include-cleaner.IgnoreHeaders
    value: 'MemoryManager.hpp'
  # Указываем какие определения разрешены через этот заголовок
  - key: misc-include-cleaner.IgnoreSymbols
    value: 'DWORD;HANDLE;OpenProcess;PROCESS_ALL_ACCESS;FALSE;Module32FirstW;Module32NextW;CreateToolhelp32Snapshot'
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassMethodCase
    value: camelBack
  - key: readability-identifier-naming.ConstexprVariableCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_
  - key: readability-identifier-naming.PrivateMemberCase
    value: camelBack
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-length.MinLength
    value: 2
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file